.App {
  text-align: center;
} 


 .userlist{
  list-style: none;
   cursor: pointer;
   text-decoration: none;
   &:nth-child(even) {background: #CCC}
   &:nth-child(even):hover{
    background-color: red; 
  }
  &:nth-child(odd):hover{
    background-color: green; 
  }
 }
 .class1{
   background-color: red;

 }
 .class2{
  background-color: green;
  content: none;
 }
 .class123{ 
  border:none;
  color:#ffffff;
  border-radius:10px;
  padding:10px;
  margin-top:10px;
  outline:none;
 }